.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @font-face {
  font-family: 'Colus';
  src: url('./fonts/Colus-Regular.woff2') format('woff2'); 
} */




/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* ------------------------ STYLING FOR MASTER CONTROL BUTTONS --------------- */
.master-controls button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: none;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.master-controls button:focus {
  outline: none;
}

.master-controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.master-controls.hide-controls button {
  transform: translateY(70px);
}
